<app-breadcrumb
  [routes]="[
    { name: 'coursesPage.courses' | translate, absolutePath: '/courses' },
    { name: 'coursesPage.newCourse' | translate, absolutePath: '/courses/new' }
  ]"
></app-breadcrumb>

<div class="add-course-page">
  <div class="form-card p-3">
    <h3 class="title">{{ "coursesPage.newCourse" | translate }}</h3>

    <form
      #f="ngForm"
      (ngSubmit)="save(f)"
      (keydown.enter)="$event.preventDefault()"
    >
      <div class="title mt-3">
        <div class="form-label w-100 d-flex justify-content-between">
          <label for="title" class="label-text"
            >{{ "form.title" | translate }}:</label
          >
          <span class="required text-secondary"
            >*{{ "form.required" | translate }}</span
          >
        </div>

        <input
          type="text"
          id="title"
          [placeholder]="'form.enterTitle' | translate"
          class="form-control"
          name="title"
          #title="ngModel"
          [(ngModel)]="form.title"
          required
          maxlength="50"
        />

        <span *ngIf="title.invalid && title.touched" class="text-danger">
          {{ "form.pleaseEnterValidValue" | translate }}
        </span>
      </div>

      <div class="description mt-3">
        <div class="form-label w-100 d-flex justify-content-between">
          <label for="description" class="label-text"
            >{{ "form.description" | translate }}:</label
          >
          <span class="required text-secondary"
            >*{{ "form.required" | translate }}</span
          >
        </div>

        <textarea
          id="description"
          [placeholder]="'form.enterDescription' | translate"
          rows="4"
          class="form-control"
          name="description"
          #description="ngModel"
          [(ngModel)]="form.description"
          required
          maxlength="500"
        >
        </textarea>

        <span
          *ngIf="description.invalid && description.touched"
          class="text-danger"
        >
          {{ "form.pleaseEnterValidValue" | translate }}
        </span>
      </div>

      <div class="date mt-3">
        <label
          for="date"
          class="form-label w-100 d-flex justify-content-between"
        >
          <span class="label-text">{{ "form.date" | translate }}:</span>
          <span class="required text-secondary"
            >*{{ "form.required" | translate }}</span
          >
        </label>

        <input
          type="date"
          id="date"
          placeholder="MM/DD/YYYY"
          class="form-control"
          name="date"
          #date="ngModel"
          [(ngModel)]="form.date"
          required
        />

        <span *ngIf="date.invalid && date.touched" class="text-danger">
          {{ "form.pleaseEnterValidValue" | translate }}
        </span>
      </div>

      <div class="duration-wrapper d-flex align-items-end">
        <div class="duration mt-3">
          <div class="form-label w-100 d-flex justify-content-between">
            <label for="duration" class="label-text"
              >{{ "form.duration" | translate }}:</label
            >
            <span class="required text-secondary"
              >*{{ "form.required" | translate }}</span
            >
          </div>

          <input
            type="number"
            min="0"
            class="form-control"
            id="duration"
            [placeholder]="'form.mins' | translate"
            name="duration"
            #duration="ngModel"
            [(ngModel)]="form.duration"
            required
            min="0"
          />

          <span
            *ngIf="duration.invalid && duration.touched"
            class="text-danger"
          >
            {{ "form.pleaseEnterValidValue" | translate }}
          </span>
        </div>

        <div class="duration-value fw-bolder ms-5">
          {{ form.duration | duration }}
        </div>
      </div>

      <app-authors-input
        name="authors"
        [allAuthors]="allAuthors"
        [(ngModel)]="form.authors"
        appCheckAuthorsIsNotEmpty
      ></app-authors-input>

      <div class="bottom mt-4 d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" (click)="cancel()">
          {{ "form.cancel" | translate }}
        </button>

        <button
          type="submit"
          class="btn btn-success ms-3"
          [disabled]="f.invalid"
        >
          {{ "form.save" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
