<div
  class="course-card p-md-4 p-3 mb-4"
  [ngClass]="{ topRated: course.topRated }"
  appChangeBorderColor
  [date]="course.creationDate"
>
  <div class="row align-items-center">
    <div class="content col-lg-9 col-12">
      <div
        class="top d-md-flex d-block justify-content-between align-items-center"
      >
        <h4 class="title">
          {{ course.title | uppercase }}

          <span *ngIf="course.topRated" class="top-rated-icon">
            <fa-icon [icon]="faStar"></fa-icon>
          </span>
        </h4>

        <div class="duration-and-date">
          <span class="duration">
            <fa-icon [icon]="faClock"></fa-icon>
            <span class="duration-text ms-1">{{
              course.duration | duration
            }}</span>
          </span>
          <span class="date ms-3">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
            <span class="date-text ms-1">{{
              course.creationDate | date : "dd MMM, yyyy"
            }}</span>
          </span>
        </div>
      </div>

      <div class="bottom description mt-2">
        {{ course.description }}
      </div>
    </div>

    <div class="controls col-lg-3 col-12 mt-lg-0 mt-3 text-end">
      <button class="btn btn-primary" (click)="editCourse()">
        <fa-icon [icon]="faPen"></fa-icon>
        <span class="btn-text ms-2">Edit</span>
      </button>

      <button class="btn btn-primary ms-3" (click)="showModal = true">
        <fa-icon [icon]="faTrash"></fa-icon>
        <span class="btn-text ms-2">Delete</span>
      </button>
    </div>
  </div>
</div>

<app-prompt-modal
  *ngIf="showModal"
  promptText="Do you really want to delete the course?"
  (cancel)="showModal = false"
  (proceed)="showModal = false; deleteCourse()"
></app-prompt-modal>
