.header {
  height: 60px;
  display: flex;
}

.navbar {
  background-color: #414452;
  width: 100%;
}

.navbar a {
  color: #fff;
}

@media (max-width: 576px) {
  .nav-item__text {
    display: none;
  }
}
