<div class="login-page">
  <div class="form-card p-3">
    <h3 class="title">{{ "login" | translate }}</h3>
    <div class="text-danger">{{ loginError$ | async }}</div>

    <form #f="ngForm" (ngSubmit)="loginHandler(f)">
      <div class="login mt-3">
        <div class="form-label w-100 d-flex justify-content-between">
          <label for="login" class="label-text"
            >{{ "form.login" | translate }}:</label
          >
          <span class="required text-secondary"
            >*{{ "form.required" | translate }}</span
          >
        </div>
        <input
          type="text"
          id="login"
          [placeholder]="'enterLogin' | translate"
          class="form-control"
          name="login"
          #login="ngModel"
          [(ngModel)]="form.login"
          required
          minlength="3"
        />
        <span *ngIf="login.invalid && login.touched" class="text-danger">
          {{ "form.lessCharactersError" | translate : { count: 3 } }}
        </span>
      </div>

      <div class="password mt-3">
        <div class="form-label w-100 d-flex justify-content-between">
          <label for="pwd" class="label-text"
            >{{ "form.password" | translate }}:</label
          >
          <span class="required text-secondary"
            >*{{ "form.required" | translate }}</span
          >
        </div>
        <input
          type="password"
          id="pwd"
          [placeholder]="'enterPassword' | translate"
          class="form-control"
          name="password"
          #password="ngModel"
          [(ngModel)]="form.password"
          required
          minlength="3"
        />
        <span *ngIf="password.invalid && password.touched" class="text-danger">
          {{ "form.lessCharactersError" | translate : { count: 3 } }}
        </span>
      </div>

      <div class="bottom mt-4 d-flex justify-content-between">
        <a routerLink="/forgot_password">{{
          "form.forgotPassword" | translate
        }}</a>

        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
          {{ "login" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
