<div class="course-card p-4 mb-4">
  <div class="row align-items-center">
    <div class="content col-9">
      <div class="top d-flex justify-content-between align-items-center">
        <h4 class="title">Video Course 1. Name tag</h4>
        <div class="duration-and-date">
          <span class="duration"
            ><fa-icon [icon]="faClock"></fa-icon> 1h 28 min</span
          >
          <span class="date ms-3"
            ><fa-icon [icon]="faCalendarDays"></fa-icon> 9 Nov, 2018</span
          >
        </div>
      </div>

      <div class="bottom mt-2">
        Learn about where you can find course desciptions, what information they
        include, how they work, and details about various components of a course
        description. Course descriptions report informationa bout a university
        or colleges classes. They're published both in course catalogs that
        outline degree requirements and in course schedules that contain
        descriptions for all courses offered during.
      </div>
    </div>

    <div class="controls col-3 text-end">
      <button class="btn btn-primary">
        <fa-icon [icon]="faPen"></fa-icon>
        <span class="btn-text ms-2">Edit</span>
      </button>
      <button class="btn btn-primary ms-3">
        <fa-icon [icon]="faTrash"></fa-icon>
        <span class="btn-text ms-2">Delete</span>
      </button>
    </div>
  </div>
</div>
