.header {
  height: 60px;
  display: flex;
}

.navbar {
  background-color: #414452;
  width: 100%;
}

.navbar-brand {
  color: #fff;
}

.navbar .nav-item,
.navbar .nav-link {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 576px) {
  .nav-item__text {
    display: none;
  }
}
