<header class="header">
  <nav class="navbar navbar-expand py-0">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <app-logo></app-logo>
        <span class="brand-text ms-2">VIDEO COURSE</span>
      </a>

      <ul class="navbar-nav" *appIfAuthenticated>
        <li class="nav-item">
          <a class="nav-link">
            <fa-icon [icon]="faUser"></fa-icon>
            <span class="nav-item__text ms-1"
              >{{ userFirstName }} {{ userLastName }}</span
            >
          </a>
        </li>

        <li class="nav-item ms-2">
          <span class="nav-link" (click)="logout()">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
            <span class="nav-item__text ms-1">Log off</span>
          </span>
        </li>
      </ul>
    </div>
  </nav>
</header>
