<div class="modal show d-block fade" (click)="cancel.emit()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">{{ promptText }}</div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="cancel.emit()"
        >
          Cancel
        </button>

        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="proceed.emit()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>
