<app-breadcrumb
  [routes]="[{ name: 'Courses', absolutePath: '/courses' }]"
></app-breadcrumb>

<div class="courses">
  <div class="container">
    <div class="search d-flex mt-3">
      <input
        type="text"
        class="form-control"
        placeholder="Text to search"
        #searchInput
      />
      <!-- <button class="btn btn-success ms-2" (click)="searchCourses()">
        Search
      </button> -->
    </div>

    <div class="add-course mt-3 text-end">
      <button class="btn btn-primary" (click)="showAddCoursePage()">
        + Add course
      </button>
    </div>

    <div class="course-cards mt-2">
      <app-course-card
        *ngFor="
          let course of courseService.courses | orderBy;
          trackBy: identifyCourse
        "
        [course]="course"
        (edit)="showEditCoursePage($event)"
        (delete)="deleteCourse($event)"
      ></app-course-card>
    </div>

    <div
      *ngIf="courseService.courses.length"
      class="load-more mb-sm-5 mb-3 p-4 d-flex align-items-center justify-content-center"
    >
      <span (click)="loadMoreCourses()">LOAD MORE</span>
    </div>

    <div
      *ngIf="!courseService.courses.length"
      class="no-data mt-4 text-center text-danger"
    >
      NO DATA. FEEL FREE TO ADD NEW COURSE
    </div>
  </div>
</div>
