<div *ngIf="!isAddingCourse" class="courses">
  <div class="container">
    <div class="search d-flex mt-3">
      <input
        type="text"
        class="form-control"
        placeholder="Text to search"
        [(ngModel)]="searchText"
      />
      <button class="btn btn-success ms-2" (click)="searchCourses()">
        Search
      </button>
    </div>

    <div class="add-course mt-3 text-end">
      <button class="btn btn-primary" (click)="showAddCoursePage()">
        + Add course
      </button>
    </div>

    <div class="course-cards mt-2">
      <app-course-card
        *ngFor="
          let course of filteredCourses | orderBy;
          trackBy: identifyCourse
        "
        [course]="course"
        (edit)="editCourse($event)"
        (delete)="deleteCourse($event)"
      ></app-course-card>
    </div>

    <div
      *ngIf="filteredCourses.length"
      class="load-more mb-sm-5 mb-3 p-4 d-flex align-items-center justify-content-center"
    >
      <span (click)="loadMoreCourses()">LOAD MORE</span>
    </div>

    <div
      *ngIf="!filteredCourses.length"
      class="no-data mt-4 text-center text-danger"
    >
      NO DATA. FEEL FREE TO ADD NEW COURSE
    </div>
  </div>
</div>

<app-add-course-page *ngIf="isAddingCourse"></app-add-course-page>
