<div class="courses">
  <div class="container">
    <div class="search d-flex mt-3">
      <input type="text" class="form-control" placeholder="Text to search" />
      <button class="btn btn-success ms-2">Serach</button>
    </div>

    <div class="add-course mt-3 text-end">
      <button class="btn btn-primary">+ Add course</button>
    </div>

    <div class="course-cards mt-2">
      <app-course-card></app-course-card>
      <app-course-card></app-course-card>
      <app-course-card></app-course-card>
    </div>

    <div
      class="load-more mb-5 p-4 d-flex align-items-center justify-content-center"
    >
      <a href="#">LOAD MORE</a>
    </div>
  </div>
</div>
